<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: blue;
      }
    </style>
  </head>

  <body>
    <h1>MUSIC STREAMING APP</h1>
    <div class="btn-container">
      <a href="/login"><button type="button" class="btn">login</button></a>
      <a href="/signup"><button type="button" class="btn">signup</button></a>
      <a href="/admin"><button type="button" class="btn">admin</button></a>
    </div>

    <div>
      <h1>List of Playlists</h1>

      <p>{{playlists}}</p>
      <div class="playlistContainer">
        {% for playlist in playlists %}
        <div class="playlistDesc">
          <h2>{{playlist.name}}</h2>
          <p>{{playlist.user_id}}</p>
          <a href="/playlist/{{playlist.id}}"> {{playlist.name}} </a>
        </div>
        <div class="playlistSongs">
          {% for song in playlist.songs %}
          <p>{{song.name}}</p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>

    <div></div>

    <script></script>
  </body>
</html>
